# environment variables for zsh
export SVDIR=~/.config/service

# history
HISTFILE=~/.zsh_history
HISTSIZE=1000000000
SAVEHIST=1000000000
setopt EXTENDED_HISTORY
setopt HIST_FIND_NO_DUPS
setopt SHARE_HISTORY

# other
export EDITOR='nvim'
export DIFF='riff'
export XBPS_DISTDIR=$HOME/void/packages

# ruby
path=("$HOME/.local/share/gem/ruby/3.0.0/bin" $path)
export GEM_HOME=$HOME/gems

# rust
path=("$HOME/.cargo/bin" $path)

# path
path=("$HOME/void/xX_tools_Xx" "$HOME/void/xxtools" "$HOME/void/xtools" "$HOME/.local/bin" $path)

{{ if eq .chezmoi.hostname "daedelus" "prometheus" }}
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
{{ end }}

export PATH
