v=2.16.2

N={{ (rbwFields "libera-a").net.value }}
U={{ (rbw "libera-a").data.username }}@{{ .chezmoi.hostname }}/{{ (rbwFields "libera-a").net.value }}
P={{ (rbw "libera-a").data.password }}
L=7
E=UTF-8 (Unicode)
F=77
D=0
S={{ (rbwFields "libera-a").url.value }}/{{ (rbwFields "libera-a").port.value }}

N={{ (rbwFields "libera-m").net.value }}-{{ (rbw "libera-m").data.username }}
U={{ (rbw "libera-m").data.username }}@{{ .chezmoi.hostname }}/{{ (rbwFields "libera-m").net.value }}
P={{ (rbw "libera-m").data.password }}
L=7
E=UTF-8 (Unicode)
F=69
D=0
S={{ (rbwFields "libera-m").url.value }}/{{ (rbwFields "libera-m").port.value }}

N={{ (rbwFields "libera-c").net.value }}
U={{ (rbw "libera-c").data.username }}@{{ .chezmoi.hostname }}/{{ (rbwFields "libera-c").net.value }}
P={{ (rbw "libera-c").data.password }}
L=7
E=UTF-8 (Unicode)
F=77
D=0
S={{ (rbwFields "libera-c").url.value }}/{{ (rbwFields "libera-c").port.value }}

N={{ (rbwFields "oftc-a").net.value }}
U={{ (rbw "oftc-a").data.username }}@{{ .chezmoi.hostname }}/{{ (rbwFields "oftc-a").net.value }}
P={{ (rbw "oftc-a").data.password }}
L=7
E=UTF-8 (Unicode)
F=77
D=0
S={{ (rbwFields "oftc-a").url.value }}/{{ (rbwFields "oftc-a").port.value }}

N={{ (rbwFields "snoonet-a").net.value }}
U={{ (rbw "snoonet-a").data.username }}@{{ .chezmoi.hostname }}/{{ (rbwFields "snoonet-a").net.value }}
P={{ (rbw "snoonet-a").data.password }}
L=7
E=UTF-8 (Unicode)
F=69
D=0
S={{ (rbwFields "snoonet-a").url.value }}/{{ (rbwFields "snoonet-a").port.value }}

N=pine64
U={{ (rbw "pine64").data.username }}@{{ .chezmoi.hostname }}/{{ (rbwFields "pine64").net.value }}
P={{ (rbw "pine64").data.password }}
E=UTF-8 (Unicode)
F=77
D=0
S={{ (rbwFields "pine64").url.value }}/{{ (rbwFields "pine64").port.value }}
