/* vim:ft=css: */

configuration {
    drun {
        display-name: "";
    }

    run {
        display-name: "";
    }

    window {
        display-name: "";
    }

    emoji {
            display-name: "";
    }

    calc {
        display-name: "";
    }
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;

    bg: {{ .colors.bg }};
    bg-alt: {{ .colors.bg_light }};
    bg-selected: {{ .colors.cursorline }};
    fg: {{ .colors.fg }};
    fg-alt: {{ .colors.fg }};
    fg-selected: {{ .colors.accent }};

    background-color: @bg;
    text-color: @fg;
}

window {
    border-radius: 10px;
}

mainbox {
    children: [inputbar, listview];
}

inputbar {
    background-color: @bg-alt;
    text-color: @fg-alt;
    children: [prompt, entry];
}

entry {
    background-color: inherit;
    text-color: inherit;
    padding: 12px 3px;
}

prompt {
    background-color: inherit;
    text-color: inherit;
    padding: 12px;
}

listview {
    lines: 8;
}

element {
    children: [element-icon, element-text];
}

element-icon {
    padding: 10px 10px;
}

element-icon selected {
    background-color: @bg-selected;
}

element-text {
    padding: 10px 0;
    text-color: @fg;
}

element-text selected {
    text-color: @fg-selected;
    background-color: @bg-selected;
}

