/* vim:ft=css: */

@theme "colours"

configuration {
    modi: "drun,run,emoji";
    show-icons: true;
    sidebar-mode: true;
    font: "Berkeley Mono,FontAwesome 12";
    terminal: "kitty";
    matching: "glob";

    run {
        matching: "prefix";
    }

    timeout {
        delay: 30;
        action: "kb-cancel";
    }
}

