{{- $choices := list "desktop" "laptop" "server" -}}
{{- $machinekind := promptChoiceOnce . "machinekind" "What type of machine are you on" $choices -}}

[data.machineInfo]
    kind = {{ $machinekind | quote }}

[diff]
    command = "riff"
    pager = "riff"
    args = ["--no-pager", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]
    exclude = ["dirs"]

[merge]
    command = "nvim"
    args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]
