# vim: set ft=zsh:

setopt autocd extendedglob
unsetopt beep nomatch notify

# load all the sub-configs from the ZSH_CONFIGS and ZSH_CONFIGS_LOCAL directories
export ZSH_CONFIGS="$HOME/.zsh"
export ZSH_CONFIGS_LOCAL="$HOME/.local/share/zsh"

for fn in $ZSH_CONFIGS/*.zsh(.N); source $fn
for fn in $ZSH_CONFIGS_LOCAL/*.zsh(.N); source $fn

{{ if eq .chezmoi.hostname "prometheus" }}
export GPG_TTY=/dev/tty1
gpg-connect-agent updatestartuptty /bye > /dev/null
{{ end }}

source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh &>/dev/null || true

