#!/bin/sh

if command -v sudo >/dev/null; then
    SUDO=sudo
elif command -v doas >/dev/null; then
    SUDO=doas
else
    SUDO=su
fi

{{ if eq .chezmoi.osRelease.id "void" }}
$SUDO xbps-install -S \
    xtools zsh neovim python3-neovim fd ripgrep zsh-syntax-highlighting \
    delta neofetch openbsd-netcat git

mkdir -p {{.chezmoi.homeDir}}/.local/bin
xbps-fetch -o {{.chezmoi.homeDir}}/.local/bin/unpatch https://leahneukirchen.org/dotfiles/bin/unpatch
chmod +x {{.chezmoi.homeDir}}/.local/bin/unpatch
{{ end }}

