#!/bin/sh

if command -v sudo >/dev/null; then
    SUDO=sudo
elif command -v doas >/dev/null; then
    SUDO=doas
else
    SUDO=su
fi

{{ if eq .chezmoi.osRelease.id "void" }}
$SUDO xbps-install -S \
    xtools zsh neovim python3-neovim fd ripgrep zsh-syntax-highlighting \
    riff neofetch openbsd-netcat git opendoas jq wget nerd-fonts-symbols-ttf

mkdir -p {{.chezmoi.homeDir}}/.local/bin
xbps-fetch -o {{.chezmoi.homeDir}}/.local/bin/unpatch https://leahneukirchen.org/dotfiles/bin/unpatch
chmod +x {{.chezmoi.homeDir}}/.local/bin/unpatch
xbps-fetch -o {{.chezmoi.homeDir}}/.local/bin/git-merge-pr https://raw.githubusercontent.com/leahneukirchen/git-merge-pr/master/git-merge-pr
chmod +x {{.chezmoi.homeDir}}/.local/bin/git-merge-pr
{{ end }}

