[user]
	name = {{ (rbw "git").data.username }}
	email = {{ (rbwFields "git").email.value }}
	signingkey = {{ (rbwFields "git").key.value }}

[commit]
	gpgsign = true
	verbose = true

[pull]
	rebase = true

[rebase]
	autoSquash = true
	autoStash = true

[init]
	defaultBranch = master

[pager]
	diff = riff
	show = riff
	log = riff

[interactive]
	diffFilter = riff --color=on

[push]
	autoSetupRemote = true
	gpgSign = if-asked

[alias]
	wt = worktree
	backport = cherry-pick -x

[tag]
	gpgSign = true

[includeIf "gitdir:~/void/"]
	path = ~/.config/git/voidconfig

{{ (rbw "git").notes }}
