# i3 config file (v4)

### Looks

font pango:Berkeley Mono 10

gaps inner 8

for_window [all] title_window_icon padding 5
title_align center

default_border normal 2

# colours
include ~/.config/i3/colors


### Keybinds

set $mod   Mod1
set $super Mod4
set $up    k
set $down  j
set $left  h
set $right l

floating_modifier $super
tiling_drag modifier titlebar
mouse_warping none

# exec terminal
bindsym $mod+Return exec kitty

# exec nvim
bindsym $mod+Shift+e exec kitty --session nvim

# kill focused window
bindsym $mod+Shift+q kill

# move focus
bindsym $mod+$up    focus up
bindsym $mod+$down  focus down
bindsym $mod+$left  focus left
bindsym $mod+$right focus right

# move window
bindsym $mod+Shift+$up    move up
bindsym $mod+Shift+$down  move down
bindsym $mod+Shift+$left  move left
bindsym $mod+Shift+$right move right

# horizontal split
bindsym $mod+b split h

# vertical split
bindsym $mod+v split v

# fullscreen mode
bindsym $mod+f fullscreen toggle

# change layout
bindsym $mod+s floating toggle
bindsym $mod+m layout toggle split tabbed stacking

# resize window
mode "resize" {
        bindsym $left       resize shrink width 10 px or 10 ppt
        bindsym $down       resize grow height 10 px or 10 ppt
        bindsym $up         resize shrink height 10 px or 10 ppt
        bindsym $right      resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape or Mod1+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+x mode "default"
}

bindsym $mod+x mode "resize"
# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+$super+q exec "i3-nagbar -t warning -m 'Do you really want to exit i3?' -B 'Yes, exit i3' 'i3-msg exit'"

# workspaces
set $ws1  "1"
set $ws2  "2"
set $ws3  "3"
set $ws4  "4"
set $ws5  "5"
set $ws6  "6"
set $ws7  "7"
set $ws8  "8"
set $ws9  "9"
set $ws10 "10: A"
set $ws11 "11: B"
set $ws12 "12: C"
set $ws13 "13: D"
set $ws14 "14: E"
set $ws15 "15: F"

# bind workspace to output
{{ if eq .machineInfo.kind "desktop" }}
workspace $ws1  output DisplayPort-2
workspace $ws2  output DisplayPort-2
workspace $ws3  output DisplayPort-2
workspace $ws4  output DisplayPort-2
workspace $ws5  output DisplayPort-2
workspace $ws6  output DisplayPort-0
workspace $ws7  output DisplayPort-0
workspace $ws8  output DisplayPort-0
workspace $ws9  output DisplayPort-0
workspace $ws10 output DisplayPort-0
workspace $ws11 output DisplayPort-1
workspace $ws12 output DisplayPort-1
workspace $ws13 output DisplayPort-1
workspace $ws14 output DisplayPort-1
workspace $ws15 output DisplayPort-1
{{ else if eq .machineInfo.kind "laptop" }}
workspace $ws1  output primary
workspace $ws2  output primary
workspace $ws3  output primary
workspace $ws4  output primary
workspace $ws5  output primary
workspace $ws6  output primary
workspace $ws7  output primary
workspace $ws8  output primary
workspace $ws9  output primary
workspace $ws10 output primary
workspace $ws11 output nonprimary
workspace $ws12 output nonprimary
workspace $ws13 output nonprimary
workspace $ws14 output nonprimary
workspace $ws15 output nonprimary
{{ end }}

# switch to workspace
bindsym $mod+1  workspace number $ws1
bindsym $mod+2  workspace number $ws2
bindsym $mod+3  workspace number $ws3
bindsym $mod+4  workspace number $ws4
bindsym $mod+5  workspace number $ws5
bindsym $mod+6  workspace number $ws6
bindsym $mod+7  workspace number $ws7
bindsym $mod+8  workspace number $ws8
bindsym $mod+9  workspace number $ws9
bindsym $mod+0  workspace number $ws10
bindsym $mod+F1 workspace number $ws11
bindsym $mod+F2 workspace number $ws12
bindsym $mod+F3 workspace number $ws13
bindsym $mod+F4 workspace number $ws14
bindsym $mod+F5 workspace number $ws15

# move focused container to workspace
bindsym $mod+Shift+1  move container to workspace number $ws1
bindsym $mod+Shift+2  move container to workspace number $ws2
bindsym $mod+Shift+3  move container to workspace number $ws3
bindsym $mod+Shift+4  move container to workspace number $ws4
bindsym $mod+Shift+5  move container to workspace number $ws5
bindsym $mod+Shift+6  move container to workspace number $ws6
bindsym $mod+Shift+7  move container to workspace number $ws7
bindsym $mod+Shift+8  move container to workspace number $ws8
bindsym $mod+Shift+9  move container to workspace number $ws9
bindsym $mod+Shift+0  move container to workspace number $ws10
bindsym $mod+Shift+F1 move container to workspace number $ws11
bindsym $mod+Shift+F2 move container to workspace number $ws12
bindsym $mod+Shift+F3 move container to workspace number $ws13
bindsym $mod+Shift+F4 move container to workspace number $ws14
bindsym $mod+Shift+F5 move container to workspace number $ws15

bindsym $mod+Shift+semicolon workspace next_on_output
bindsym $mod+semicolon workspace prev_on_output

# rofi
bindsym $mod+d exec --no-startup-id rofi -show drun
bindsym $mod+r exec --no-startup-id rofi -show run
bindsym $mod+c exec --no-startup-id rofi -show calc -modi calc -no-show-match -no-sort
bindsym $mod+e exec --no-startup-id rofi -show emoji

# screenshot
bindsym Print exec --no-startup-id "maim -su | xclip -selection clipboard -t image/png"

# lock
bindsym $super+l exec loginctl lock-session
bindsym $super+Shift+l exec loginctl suspend

# fn keys
bindsym XF86AudioMute exec --no-startup-id $HOME/.local/bin/audioctl toggle-mute
bindsym XF86AudioLowerVolume exec --no-startup-id $HOME/.local/bin/audioctl vol-down
bindsym XF86AudioRaiseVolume exec --no-startup-id $HOME/.local/bin/audioctl vol-up
bindsym XF86AudioMicMute exec --no-startup-id $HOME/.local/bin/audioctl toggle-mic
bindsym XF86MonBrightnessDown exec --no-startup-id $HOME/.local/bin/brightctl down
bindsym XF86MonBrightnessUp exec --no-startup-id $HOME/.local/bin/brightctl up

### Window rules

for_window [class="pinentry"] floating enable
for_window [class="qalculate"] floating enable
for_window [class="qemu"] floating enable
for_window [class="MATLAB"] floating enable
{{ if eq .machineInfo.kind "desktop" }}
for_window [class="Thunderbird"] move container to workspace $ws2
for_window [class="(?i)hexchat"] move container to workspace $ws4
for_window [class="(?i)telegram-?desktop"] move container to workspace $ws5
{{ else if eq .machineInfo.kind "laptop" }}
for_window [class="(?i)hexchat"] move container to workspace $ws4
for_window [class="(?i)telegram-?desktop"] move container to workspace $ws5
for_window [class="discord"] move container to workspace $ws5
for_window [class="Thunderbird"] move container to workspace $ws6
{{ end }}

### Startup

# utils
exec_always --no-startup-id dbus-update-activation-environment DISPLAY XAUTHORITY QT_QPA_PLATFORMTHEME QT_QPA_PLATFORM_THEME XDG_SEAT XDG_SEAT_PATH XDG_SESSION_PATH XDG_VTNR XDG_SESSION_TYPE LANG
exec_always --no-startup-id turnstile-update-runit-env DISPLAY XAUTHORITY QT_QPA_PLATFORMTHEME QT_QPA_PLATFORM_THEME XDG_SEAT XDG_SEAT_PATH XDG_SESSION_PATH XDG_VTNR XDG_SESSION_TYPE LANG
exec_always --no-startup-id ~/.config/polybar/launch.sh
exec_always --no-startup-id autotiling -l 4
exec_always --no-startup-id picom
exec_always --no-startup-id xss-lock -l -n $HOME/.local/bin/dim-screen -- $HOME/.local/bin/lock-session

# background
exec --no-startup-id $HOME/.screenlayout/default.sh
exec --no-startup-id xset 600 60
exec --no-startup-id nitrogen --restore
exec --no-startup-id wired --run
exec --no-startup-id kwalletd5
exec --no-startup-id lxqt-policykit-agent
exec --no-startup-id syncthingtray
exec --no-startup-id nm-applet

# foreground
exec thunderbird
exec hexchat
exec telegram-desktop
exec Discord
{{ if eq .machineInfo.kind "desktop" }}
exec discord-ptb
{{ end }}
