# environment variables for zsh
export SVDIR=~/.config/service

# history
HISTFILE="${XDG_STATE_HOME:-$HOME/.local/state}/zsh_history"
HISTSIZE=1000000000
SAVEHIST=1000000000
setopt EXTENDED_HISTORY
setopt HIST_FIND_NO_DUPS
setopt SHARE_HISTORY

# other
export EDITOR='nvim -p'
export DIFF='riff'
export XBPS_DISTDIR="$HOME/void/packages"
export USER_LS_COLORS=1

# ruby
export GEM_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/gems"

# rust
path=("$HOME/.cargo/bin" $path)

# qt6
path=("/usr/lib/qt6/bin" $path)

# path
path=("$HOME/void/"*tools* "$HOME/.local/bin" /usr/libexec/sequoia $path)

export PATH
